<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Twitter</title>
    <link rel="stylesheet" href="./view.css">
</head>
<body>
    
    <div class="rows">

        <div class="section-left">
            <div class="list">
                <div class="list-item">
                    <div class="logo">
                        <ion-icon name="logo-twitter"></ion-icon>
                    </div>
                </div>
                <div class="list-item">
                    <button class="btn-items">
                        <ion-icon name="home-outline"></ion-icon>
                        <h1>Beranda</h1>
                    </button>
                </div>
                <div class="list-item">
                    <button class="btn-items">
                        <ion-icon name="search-outline"></ion-icon>
                        <h1>Jelajahi</h1>
                    </button>
                </div>
                <div class="list-item">
                    <button class="btn-items" onclick="location.href='/components/profile.html'">
                        <ion-icon name="person-outline"></ion-icon>
                        <h1>Profil</h1>
                    </button>
                </div>
                <div class="list-item">
                    <button class="btn-items">
                        <ion-icon name="notifications-outline"></ion-icon>
                        <h1>Notifikasi</h1>
                    </button>
                </div>
                <div class="list-item">
                    <button class="btn-items">
                        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                        <h1>Pesan</h1>
                    </button>
                </div>
                <div class="list-item">
                    <button class="btn-items">
                        <ion-icon name="book-outline"></ion-icon>
                        <h1>Daftar</h1>
                    </button>
                </div>
                <div class="list-item">
                    <button class="btn-items">
                        <ion-icon name="bookmark-outline"></ion-icon>
                        <h1>Markah</h1>
                    </button>
                </div>
                <button class="btn-tweet">
                    <h1>Tweet</h1>
                </button>
                
                
            </div>
        </div>

        <div class="section-right">

            <div class="main-right">
                <div class="input-search">
                    <!-- <ion-icon name="search-outline"></ion-icon> -->
                    <input type="text"  placeholder="Cari di Twitter">
                </div>

                <div class="trend">
                    <div class="trend-title">
                        <h1>Tren untuk Anda</h1>
                    </div>

                    <div class="trend-list">
                        <div class="list-item">
                                <button>
                                    <h2>Sedang Tren di Indonesia</h2>
                                    <h1>Argentina</h1>
                                    <h3>333 rb Tweet</h3>
                                </button>
                        </div>
                        <div class="list-item">
                                <button>
                                    <h2>Musik</h2>
                                    <h1>Coldplay</h1>
                                    <h3>322 rb Tweet</h3>
                                </button>
                        </div>
                        <div class="list-item">
                                <button>
                                    <h2>Olahraga</h2>
                                    <h1>Messi</h1>
                                    <h3>313 rb Tweet</h3>
                                </button>
                        </div>
                        <div class="list-item">
                                <button>
                                    <h2>Olahraga</h2>
                                    <h1>Inter Miami</h1>
                                    <h3>301 rb Tweet</h3>
                                </button>
                        </div>
                        <div class="list-item">
                                <button>
                                    <h2>Dakwah</h2>
                                    <h1>Az Zahir</h1>
                                    <h3>299 rb Tweet</h3>
                                </button>
                        </div>
                        <div class="list-item">
                                <button>
                                    <h2>Sedang Tren di Indonesia</h2>
                                    <h1>Argentina</h1>
                                    <h3>333 rb Tweet</h3>
                                </button>
                        </div>
                    </div>
                </div>
            </div>
                
        </div>
        <div class="section-center">
            <div class="main">
                <div class="main-title">
                    <a href="/index.html"><ion-icon name="arrow-back-outline"></ion-icon></a>
                    <h1>Utas</h1>
                </div>

                <div class="main-tweet">
                    <div class="tweet-list">
                        
                        <div class="tweet-item">
                            <button class="btn-main" onclick="location.href='/components/view.html'">

                                <div class="row">
                                    <div class="img-profile">
                                        <img src="../img/profile-1.jpg" alt="">
                                    </div>

                                    <div class="row-2">
                                        <div class="profiles">            
                                            <h2>Diandra Shadeva </h2>
                                            <h3>@diandraafs </h3>
                                        </div>
                                    </div>

                                    
                                </div>
                                <div class="text">
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias, accusamus vitae deleniti quaerat totam placeat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quia enim earum dolorum reprehenderit molestias.</p>
                                </div>
                                <div class="img">
                                    <img src="../img/post.png" alt="">
                                </div>
                                <div class="info">
                                    <h2>11.00 PM ·</h2>
                                    <h2>14 Jun 2023</h2>
                                </div>
                            </button>

                                <div class="action">
                                    <div class="action-item">
                                        <h2>50</h2>
                                        <h3>Komentar</h3>
                                    </div>
                                    <div class="action-item">
                                        <h2>422</h2>
                                        <h3>Posting Ulang</h3>
                                    </div>
                                    <div class="action-item">
                                        <h2>422</h2>
                                        <h3>Suka</h3>
                                    </div>
                                  
                                </div>

                                <div class="action-tweet">
                                    <img src="../img/profile-1.jpg" alt="">
                                    <input type="text" placeholder="Tweet Balasan Anda!!">
                                    <button type="submit">Tweet</button>
                                </div>

                                <div class="comment-section">
                                    <div class="comment">
                                        <div class="img-profile">
                                            <img src="../img/desta.jpeg" alt="">
                                        </div>

                                        <div class="area">
                                            <div class="profiles">
                                                <h2>Faqih Ari </h2>
                                                <h3>@dfariew </h3>
                                                <h4> · 14j</h4>
                                            </div>
                                            <div class="text-comment">
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum accusamus iste aliquam eius. Illum, quos?</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment">
                                        <div class="img-profile">
                                            <img src="../img/hafis.jpeg" alt="">
                                        </div>

                                        <div class="area">
                                            <div class="profiles">
                                                <h2>Fathkurrohman </h2>
                                                <h3>@fathkurr </h3>
                                                <h4> · 8j</h4>
                                            </div>
                                            <div class="text-comment">
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum accusamus iste aliquam eius. Illum, quos?</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>    


        

    </div>




</body>


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>